USE master
GO

/****** Object:  Database Recipe     ******/
IF DB_ID('Recipe') IS NOT NULL
    DROP DATABASE Recipe
GO

CREATE DATABASE Recipe
GO

USE Recipe
GO

/****** Object:  Table Users     ******/
CREATE TABLE Errors(
	[ErrorID] int IDENTITY(1,1) NOT NULL,
	[MESSAGE] nvarchar(2000), 
	[NUMBER] int,
	[LINE] int,
	[PROCEDURE] nvarchar(200),
	[SEVERITY] int,
	[STATE] int
	CONSTRAINT PK_Errors PRIMARY KEY CLUSTERED(ErrorID ASC)
)
GO


/****** Object:  Table Users     ******/
CREATE TABLE Users(
	UserID int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	UserFirstName nvarchar(50) NULL,
	UserLastName nvarchar(50) NOT NULL,
	UserAddress nvarchar(255) NOT NULL,
	UserCity nvarchar(50) NOT NULL,
	UserState nvarchar(20) NOT NULL,
	UserZip nvarchar(20) NOT NULL,
	UserPhone nvarchar(30) NOT NULL,
	UserFax nvarchar(30) NULL,
	UserTotalOrders int NOT NULL DEFAULT(0)
)
GO

/****** Object:  Table Ingredients     ******/
CREATE TABLE Ingredients(
	IngredientsID  int IDENTITY(1,1) NOT NULL,
	Title nvarchar(50) NOT NULL,
	UnitWeight decimal (5,2) NOT NULL
	CONSTRAINT PK_Items PRIMARY KEY CLUSTERED(IngredientsID ASC)
)
GO

/****** Object:  Table OrderDetails     ******/
CREATE TABLE OrderDetails(
	OrderID int NOT NULL,
	IngredientsID int NOT NULL,
	Quantity smallint NOT NULL
)
GO

/****** Object:  Table Orders     ******/
CREATE TABLE Orders(
	OrderID int IDENTITY(1,1) NOT NULL,
	UserID int NOT NULL,
	OrderDate datetime NOT NULL,
	UploadDate datetime NULL
	CONSTRAINT PK_Orders PRIMARY KEY CLUSTERED(OrderID ASC)
)
GO


SET IDENTITY_INSERT Users ON 
SET IDENTITY_INSERT Users OFF
GO


SET IDENTITY_INSERT Ingredients ON
INSERT Ingredients (IngredientsID, Title, UnitWeight) VALUES 
(1, 'salt' , 0.6),
(2, 'sugar', 0.8),
(3, 'edible oil',  1),
(4, 'salad oil',  1),
(5, 'starch',  3),
(6, 'flour',  3),
(7, 'vinegar',  2),
(8, 'black pepper',  0.5),
(9, 'soy sauce',  1),
(10, 'ketchup',  4)
SET IDENTITY_INSERT Ingredients OFF

GO


SET IDENTITY_INSERT Orders ON
SET IDENTITY_INSERT Orders OFF
GO


USE master
GO